/* styles/Home.module.css */
.body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .adisyon {
    width: 80mm;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .brand {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .adisyon-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .total {
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  